@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl.otf"); }

@font-face {
  font-family: 'MuseoSansCyrl_3';
  src: url("../fonts/MuseoSansCyrl_3.otf"); }

@font-face {
  font-family: 'MuseoSansCyrl_2';
  src: url("../fonts/MuseoSansCyrl_2.otf"); }

@font-face {
  font-family: 'MuseoSansCyrl_1';
  src: url("../fonts/MuseoSansCyrl_1.otf"); }

@font-face {
  font-family: 'MuseoSansCyrl_0';
  src: url("../fonts/MuseoSansCyrl_0.otf"); }

.nav {
  background: #FFD241;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 70px; }
  .nav .burger {
    width: 30px;
    display: table;
    padding-right: 23px;
    cursor: pointer; }
    .nav .burger__items {
      background: #000000;
      margin-bottom: 4px;
      width: 30px;
      height: 5px; }
    .nav .burger__items:last-child {
      margin-bottom: 0; }

.container {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 8px; }
  .container .title {
    text-align: center; }
    .container .title__text {
      font-family: "MuseoSansCyrl_3";
      text-transform: uppercase;
      margin: 46px 0;
      font-size: 36px;
      line-height: 43px;
      color: #000000; }
  .container .catalog-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .container .catalog-flex .catalog:nth-child(1), .container .catalog-flex .catalog:nth-child(3) {
      margin-right: 2.8%; }
    .container .catalog-flex .catalog {
      width: 48.6%;
      max-width: 380px;
      cursor: pointer;
      margin-bottom: 56px; }
      .container .catalog-flex .catalog .product__img {
        width: 100%;
        height: 218px;
        -o-object-fit: cover;
        object-fit: cover; }
      .container .catalog-flex .catalog .product__price {
        font-family: "MuseoSansCyrl_3";
        background-color: #ffd141;
        margin-top: 176px;
        width: 160px;
        text-align: center;
        z-index: 1;
        position: absolute;
        padding: 14px 0;
        color: #000; }
      .container .catalog-flex .catalog .product-box__country {
        font-family: "MuseoSansCyrl_3";
        text-transform: uppercase;
        font-size: 9px;
        margin-top: 10px;
        color: #C5B223; }
      .container .catalog-flex .catalog .product-box__title {
        font-family: "MuseoSansCyrl_3";
        font-size: 18px;
        margin-top: 7px;
        color: #000000; }
      .container .catalog-flex .catalog .product-box__info {
        font-family: "MuseoSansCyrl_1";
        width: 100%;
        max-width: 350px;
        line-height: 13px;
        font-size: 9px;
        margin-top: 20px;
        color: #8C8C8C; }
      .container .catalog-flex .catalog .product-box .block-info__date {
        font-family: "MuseoSansCyrl_2";
        font-size: 9px;
        margin-top: 15px;
        color: #000000; }
      .container .catalog-flex .catalog .product-box .block-info__date:nth-child(2) {
        margin-top: 2px; }
      .container .catalog-flex .catalog .product-box .flight {
        background: #CB0037;
        border-radius: 3px;
        margin: 12px 0 0;
        width: 130px;
        height: 17px; }
        .container .catalog-flex .catalog .product-box .flight__text {
          font-family: "MuseoSansCyrl_1";
          text-align: center;
          font-size: 9px;
          padding: 4px 0;
          color: #FFFFFF; }
  .container .about-us {
    margin-top: 35px;
    display: table; }
    .container .about-us__text {
      font-family: "MuseoSansCyrl_1";
      text-transform: uppercase;
      font-size: 10px;
      color: #000000; }
    .container .about-us__underline {
      height: 2px;
      margin-top: 5px;
      background: #000000; }
  .container .set:nth-child(1) {
    margin-top: 50px; }
  .container .set .contant-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 31px; }
    .container .set .contant-center .input-info:nth-child(2), .container .set .contant-center .input-info:nth-child(4) {
      margin-right: 0; }
    .container .set .contant-center .input-info {
      width: 50%;
      margin-right: 20px; }
      .container .set .contant-center .input-info__name {
        text-transform: uppercase;
        font-family: "MuseoSansCyrl_1";
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 8px;
        color: #000000; }
      .container .set .contant-center .input-info__inp:focus {
        border: 1px solid #FFD241; }
      .container .set .contant-center .input-info__inp {
        background: #FFFFFF;
        font-family: "MuseoSansCyrl";
        font-size: 10px;
        padding-left: 19px;
        color: #8C8C8C;
        width: 100%;
        height: 50px;
        border: 1px solid #E7E7E7;
        border-radius: 3px; }
      .container .set .contant-center .input-info__country {
        font-family: "MuseoSansCyrl";
        font-size: 10px;
        margin-top: 9px;
        display: block;
        color: #CB0037; }
      .container .set .contant-center .input-info .red-star {
        color: #CB0037;
        margin-left: 3px; }
  .container .about-communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container .about-communication__items:nth-child(1) {
      width: 53%; }
    .container .about-communication__items:nth-child(2) {
      width: 50%; }
    .container .about-communication .about {
      margin-top: 15px;
      display: table; }
      .container .about-communication .about__text {
        font-family: "MuseoSansCyrl_1";
        text-transform: uppercase;
        font-size: 10px;
        color: #000000; }
      .container .about-communication .about__underline {
        height: 2px;
        margin-top: 5px;
        background: #000000; }
    .container .about-communication .choice {
      margin-top: 31px; }
      .container .about-communication .choice .social-network:nth-child(4) {
        margin-right: 0; }
      .container .about-communication .choice .social-network {
        display: inline-block;
        margin-right: 30px;
        cursor: pointer; }
        .container .about-communication .choice .social-network:hover .social-network__choose {
          background: #F0F0F0; }
        .container .about-communication .choice .social-network__text {
          text-align: center;
          margin-bottom: 9px;
          font-family: "MuseoSansCyrl_1";
          text-transform: uppercase;
          line-height: 12px;
          font-size: 10px;
          color: #000000; }
        .container .about-communication .choice .social-network__choose {
          background: #FFFFFF;
          width: 40px;
          height: 40px;
          display: block;
          margin: 0 auto;
          border: 1px solid #E7E7E7;
          border-radius: 3px; }
          .container .about-communication .choice .social-network__choose .check-mark {
            background: url("../images/choice/Vector.svg") no-repeat center;
            display: none;
            width: 100%;
            height: 100%; }
  .container .inquiries .confirm {
    display: -webkit-box;
    display: -ms-flexbox;
    margin-top: 39px;
    cursor: pointer; }
    .container .inquiries .confirm:hover .confirm__agreement {
      background: #F0F0F0; }
    .container .inquiries .confirm__agreement {
      width: 15px;
      height: 15px;
      background: #FFFFFF;
      border: 1px solid #E7E7E7;
      border-radius: 3px; }
      .container .inquiries .confirm__agreement .check-mark {
        background: url("../images/choice/Vector.svg") no-repeat center;
        background-size: 90%;
        display: none;
        width: 100%;
        height: 100%; }
    .container .inquiries .confirm .confirm-info {
      margin-left: 15px; }
      .container .inquiries .confirm .confirm-info__title {
        font-family: "MuseoSansCyrl_1";
        margin-bottom: 11px;
        font-size: 10px;
        color: #000000; }
        .container .inquiries .confirm .confirm-info__title .red-star {
          color: #CB0037;
          margin-left: 3px; }
      .container .inquiries .confirm .confirm-info__text {
        font-family: "MuseoSansCyrl";
        padding-right: 15px;
        font-size: 10px;
        color: #C1C1C1; }
  .container .inquiries .fields__text {
    font-family: "MuseoSansCyrl";
    padding-right: 15px;
    margin: 33px 0 0 30px;
    font-size: 10px;
    color: #C1C1C1; }
  .container .inquiries .fields .red-stars {
    color: #CB0037;
    margin-right: 3px; }
  .container .sending {
    background: #FFD241;
    border-radius: 29.5px;
    cursor: pointer;
    width: 280px;
    height: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 30px;
    margin: 40px 0 108px 0;
    font-family: "MuseoSansCyrl_1";
    text-transform: uppercase;
    font-size: 12px;
    color: #000000; }

.menu {
  position: absolute;
  width: 50%;
  z-index: 50;
  height: 100vh;
  background: #FFD241;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .menu .info-tab {
    margin-top: 101px; }
    .menu .info-tab .view-menu {
      margin-bottom: 68px; }
      .menu .info-tab .view-menu .contant-review {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .menu .info-tab .view-menu .contant-review .main-menu:last-child {
          width: 120px;
          margin-right: 0; }
        .menu .info-tab .view-menu .contant-review .main-menu {
          width: 150px;
          cursor: pointer;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 49px;
          background: white;
          margin-right: 10px;
          border-radius: 29.5px; }
          .menu .info-tab .view-menu .contant-review .main-menu .calendar {
            display: none;
            position: absolute;
            background: white;
            padding: 0 10px;
            z-index: 50;
            border-radius: 0 0 30px 30px; }
            .menu .info-tab .view-menu .contant-review .main-menu .calendar__text {
              font-family: "MuseoSansCyrl_1";
              font-size: 12px;
              line-height: 14px;
              text-align: center;
              margin-bottom: 18px;
              color: #000000; }
            .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 {
              width: 100%;
              font: monospace;
              line-height: 1.2em;
              font-size: 15px;
              text-align: center; }
              .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 tr td {
                padding: 8px;
                font-family: "MuseoSansCyrl_1"; }
            .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 thead tr:last-child {
              font-size: small;
              color: black; }
            .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 thead tr:nth-child(1) td:nth-child(2) {
              color: black;
              font-family: "MuseoSansCyrl_1"; }
            .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 thead tr:nth-child(1) td:nth-child(1):hover, .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
              cursor: pointer; }
            .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 tbody td {
              color: black; }
            .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 tbody td:nth-child(n+6), .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 .holiday {
              color: black; }
            .menu .info-tab .view-menu .contant-review .main-menu .calendar #calendar2 tbody td.today {
              background: #FFD241;
              border: 1px solid black;
              color: black; }
          .menu .info-tab .view-menu .contant-review .main-menu .small-block {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 16px 0 19px 30px;
            border-radius: 29.5px; }
            .menu .info-tab .view-menu .contant-review .main-menu .small-block__country, .menu .info-tab .view-menu .contant-review .main-menu .small-block__date {
              font-family: "MuseoSansCyrl_1";
              font-size: 12px;
              line-height: 14px;
              color: #000000;
              padding-right: 40px; }
            .menu .info-tab .view-menu .contant-review .main-menu .small-block__date {
              padding-right: 30px; }
            .menu .info-tab .view-menu .contant-review .main-menu .small-block__shift {
              width: 5px;
              height: 5px;
              margin: 4px 0 0 8px;
              border-left: 1px solid #181616;
              border-top: 1px solid #181616;
              -webkit-transform: rotate(-135deg);
              -ms-transform: rotate(-135deg);
              transform: rotate(-135deg);
              -webkit-transition: -webkit-transform .5s ease;
              transition: -webkit-transform .5s ease;
              -o-transition: transform .5s ease;
              transition: transform .5s ease;
              transition: transform .5s ease, -webkit-transform .5s ease; }
          .menu .info-tab .view-menu .contant-review .main-menu ::-webkit-scrollbar {
            width: 2px; }
          .menu .info-tab .view-menu .contant-review .main-menu ::-webkit-scrollbar-track {
            background: white; }
          .menu .info-tab .view-menu .contant-review .main-menu ::-webkit-scrollbar-thumb {
            height: 10px;
            background: #C4C4C4;
            border-radius: 1px; }
          .menu .info-tab .view-menu .contant-review .main-menu .dropped-list {
            position: absolute;
            background: white;
            overflow-x: hidden !important;
            height: 315px;
            overflow: scroll;
            display: none;
            padding: 0 10px;
            width: 150px;
            border-radius: 0 0 30px 30px; }
            .menu .info-tab .view-menu .contant-review .main-menu .dropped-list .continents__text {
              font-family: "MuseoSansCyrl_2";
              margin-bottom: 29px;
              font-size: 14px;
              color: #000000; }
            .menu .info-tab .view-menu .contant-review .main-menu .dropped-list .continents .countrys {
              display: none; }
              .menu .info-tab .view-menu .contant-review .main-menu .dropped-list .continents .countrys__items:hover {
                background: rgba(196, 196, 196, 0.3); }
              .menu .info-tab .view-menu .contant-review .main-menu .dropped-list .continents .countrys__items {
                font-family: "MuseoSansCyrl_1";
                border-radius: 15px;
                padding-left: 13px;
                font-size: 14px;
                line-height: 30px;
                color: #000000; }
              .menu .info-tab .view-menu .contant-review .main-menu .dropped-list .continents .countrys .all-tours {
                font-family: "MuseoSansCyrl_1";
                margin-left: 13px;
                font-size: 10px;
                margin: 10px 0 10px 15px;
                line-height: 18px;
                text-transform: uppercase;
                color: #FFD241; }
      .menu .info-tab .view-menu .travel {
        width: 280px; }
        .menu .info-tab .view-menu .travel .journey {
          padding: 0 40px 20px 37px;
          display: none;
          background: white;
          border-radius: 0 0 30px 30px;
          position: absolute;
          width: 280px; }
          .menu .info-tab .view-menu .travel .journey__items:hover {
            background: rgba(196, 196, 196, 0.3);
            border-radius: 15px;
            cursor: pointer; }
          .menu .info-tab .view-menu .travel .journey__items {
            padding-left: 9px;
            font-family: "MuseoSansCyrl_1";
            font-size: 14px;
            line-height: 30px;
            color: #000000; }
        .menu .info-tab .view-menu .travel .travels {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          cursor: pointer;
          background: white;
          height: 49px;
          padding: 18px 0px 10px 30px;
          border-radius: 29.5px;
          margin-top: 18px; }
          .menu .info-tab .view-menu .travel .travels__shift {
            width: 5px;
            height: 5px;
            margin-left: 8px;
            border-left: 1px solid #181616;
            border-top: 1px solid #181616;
            -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
            -webkit-transition: -webkit-transform .5s ease;
            transition: -webkit-transform .5s ease;
            -o-transition: transform .5s ease;
            transition: transform .5s ease;
            transition: transform .5s ease, -webkit-transform .5s ease; }
          .menu .info-tab .view-menu .travel .travels__text {
            font-family: "MuseoSansCyrl_1";
            margin-right: 121px;
            font-size: 12px;
            line-height: 14px;
            color: #000000; }
    .menu .info-tab .contact {
      bottom: 55px;
      position: absolute; }
      .menu .info-tab .contact__phone {
        font-family: "MuseoSansCyrl_3";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #141414;
        margin-bottom: 24px; }
      .menu .info-tab .contact .pick-up {
        border: 1px solid #000000;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 29.5px;
        cursor: pointer;
        width: 280px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 49px; }
        .menu .info-tab .contact .pick-up__text {
          font-family: "MuseoSansCyrl_1";
          text-transform: uppercase;
          font-size: 12px;
          color: #000000; }
  .menu .list-info__text {
    font-family: "MuseoSansCyrl_3";
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    color: #141414; }

@media (max-width: 780px) {
  .about-communication__items:nth-child(2) {
    width: 49% !important; } }

@media (max-width: 670px) {
  .about-communication__items:nth-child(2) {
    width: 48% !important; } }

@media (max-width: 615px) {
  .about-communication__items:nth-child(2) {
    width: 49% !important; }
  .about-communication__items .choice {
    margin-top: 31px;
    width: 55%; }
    .about-communication__items .choice .social-network:nth-child(3) {
      margin-top: 15px;
      margin-right: 32px; }
    .about-communication__items .choice .social-network:nth-child(4) {
      margin-top: 15px; } }

@media (max-width: 580px) {
  .about-communication__items:nth-child(2) {
    width: 48% !important; }
  .about-communication__items .choice {
    width: 75% !important; } }

@media (max-width: 430px) {
  .container {
    padding: 0 18px; }
    .container .inquiries .confirm:hover .confirm__agreement {
      background: white; }
    .container .about-communication {
      display: inherit; }
      .container .about-communication__items {
        width: 100% !important; }
        .container .about-communication__items .choice:last-child {
          margin-top: 27px; }
        .container .about-communication__items .choice {
          width: 100% !important;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end; }
          .container .about-communication__items .choice .social-network:hover .social-network__choose {
            background: white; }
          .container .about-communication__items .choice .social-network:nth-child(3), .container .about-communication__items .choice .social-network:nth-child(4) {
            margin-top: 0; }
      .container .about-communication .about {
        margin-top: 38px !important; }
    .container .catalog-flex .catalog {
      width: 100%;
      max-width: none;
      margin-right: 0 !important; }
      .container .catalog-flex .catalog .product-box .flight {
        background: #CB0037;
        border-radius: 3px;
        margin: 12px 0 31px 0; }
    .container .catalog:nth-child(1) {
      margin-right: 2.8%;
      border-top: 2px solid #C4C4C4;
      padding: 30px 0 0; }
    .container .catalog:nth-child(2) {
      margin-bottom: 26px; }
    .container .catalog:nth-child(3) {
      padding-bottom: 33px;
      margin-bottom: 16px;
      border-bottom: 2px solid #C4C4C4; }
    .container .catalog:nth-child(4) {
      display: none; }
    .container .title {
      text-align: inherit; }
    .container .title__text:first-child {
      margin: 46px 0 7px 0; }
    .container .title__text {
      margin: 14px 0 27px 0 !important; }
    .container .about-us {
      margin-top: 30px !important; }
    .container .contant-center {
      display: inherit !important; }
      .container .contant-center .input-info {
        width: 100% !important; }
        .container .contant-center .input-info .input-info__name {
          margin: 20px 0 8px  0 !important; } }
