@import "nulling-styles.scss";
@import "style-for-fonts.scss";

.nav {
    background: #FFD241;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    .burger {
        width: 30px;
        display: table;
        padding-right: 23px;
        cursor: pointer;
        &__items {
            background: #000000;
            margin-bottom: 4px;
            width: 30px;
            height: 5px;
        }
        &__items:last-child {
            margin-bottom: 0;
        }
    }
}
.container {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    .title {
        text-align: center;
        &__text {
            font-family: "MuseoSansCyrl_3";
            text-transform: uppercase;
            margin: 46px 0;
            font-size: 36px;
            line-height: 43px;
            color: #000000;
        }
    }
    .catalog-flex {
        display: flex;
        flex-wrap: wrap;
        .catalog:nth-child(1), .catalog:nth-child(3)  {
            margin-right: 2.8%;
        }
        .catalog {
            width: 48.6%;
            max-width: 380px;
            .product {
                &__img {
                    width: 100%;
                    height: 218px;
                    object-fit: cover;
                }
                &__price {
                    font-family: "MuseoSansCyrl_3";
                    background-color: #ffd141;
                    margin-top: 176px;
                    width: 160px;
                    text-align: center;
                    z-index: 1;
                    position: absolute;
                    padding: 14px 0;
                    color: #000;
                }
            }
            .product-box {
                &__country {
                    font-family: "MuseoSansCyrl_3";
                    text-transform: uppercase;
                    font-size: 9px;
                    margin-top: 10px;
                    color: #C5B223;
                }
                &__title {
                    font-family: "MuseoSansCyrl_3";
                    font-size: 18px;
                    margin-top: 7px;
                    color: #000000;
                }
                &__info {
                    font-family: "MuseoSansCyrl_3";
                    width: 100%;
                    max-width: 350px;
                    font-size: 9px;
                    margin-top: 20px;
                    color: #8C8C8C;
                }
                .block-info {
                    &__date {
                        font-family: "MuseoSansCyrl_3";
                        font-size: 9px;
                        margin-top: 15px;
                        color: #000000;
                    }
                    &__date:nth-child(2) {
                        margin-top: 2px;
                    }
                }
                .flight {
                    background: #CB0037;
                    border-radius: 3px;
                    margin: 12px 0 56px 0;
                    width: 130px;
                    height: 17px;
                    &__text {
                        font-family: "MuseoSansCyrl_3";
                        text-align: center;
                        font-size: 9px;
                        padding: 4px 0;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .about-us {
        &__text {
            font-family: "MuseoSansCyrl_3";
            text-transform: uppercase;
            font-size: 10px;
            color: #000000;
        }
        &__underline {
            width: 84px;
            height: 2px;
            margin-top: 5px;
            background: #000000;
        }
    }
    .set {
        .contant-center {
            display: flex;
            margin-top: 31px;
            .input-info {
                &__name {
                    text-transform: uppercase;
                    font-family: "MuseoSansCyrl_3";
                    font-size: 10px;
                    line-height: 12px;
                    margin-bottom: 8px;
                    color: #000000;
                }
                &__inp {
                    background: #FFFFFF;
                    font-family: "MuseoSansCyrl";
                    font-size: 10px;
                    padding-left: 19px;
                    color: #8C8C8C;
                    width: 380px;
                    height: 50px;
                    margin-right: 20px;
                    border: 1px solid #E7E7E7;
                    border-radius: 3px;
                }
                &__country {
                    font-family: "MuseoSansCyrl";
                    font-size: 10px;
                    line-height: 12px;
                    color: #CB0037;
                }
                .red-star {
                    color: #CB0037;
                    margin-left: 3px;
                }
            }
        }
    }
    .about-communication {
        display: flex;
        &__items:nth-child(1) {
            margin-right: 116px;
        }
        .choice {
            .social-network:nth-child(4) {
                margin-right: 0;
            }
            .social-network {
                display: inline-block;
                margin-right: 30px;
                &__text {
                    text-align: center;
                    margin-bottom: 9px;
                    font-family: "MuseoSansCyrl_3";
                    text-transform: uppercase;
                    font-size: 10px;
                    color: #000000;
                }
                &__choose {
                    background: #FFFFFF;
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;
                    border: 1px solid #E7E7E7;
                    border-radius: 3px;
                }
            }
        }
    }
    .inquiries {
        .confirm {
            display: flex;
            margin-top: 39px;
            &__agreement {
                width: 15px;
                height: 15px;
                background: #FFFFFF;
                border: 1px solid #E7E7E7;
                border-radius: 3px;
            }
            .confirm-info {
                margin-left: 15px;
                &__title {
                    font-family: "MuseoSansCyrl_3";
                    margin-bottom: 11px;
                    font-size: 10px;
                    color: #000000;
                }
                &__text {
                    font-family: "MuseoSansCyrl";
                    padding-right: 15px;
                    font-size: 10px;
                    color: #C1C1C1;
                }
            }
        }
        .fields {
            &__text {
                font-family: "MuseoSansCyrl";
                padding-right: 15px;
                margin: 33px 0 0 30px;
                font-size: 10px;
                color: #C1C1C1;
            }
            .red-stars {
                color: #CB0037;
                margin-right: 3px;
            }
        }
    }
    .sending {
        background: #FFD241;
        border-radius: 29.5px;
        width: 280px;
        height: 49px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        margin-top: 40px;
        &__text {
            font-family: "MuseoSansCyrl_1";
            text-transform: uppercase;
            font-size: 12px;
            color: #000000;
        }
    }
}