@import "nulling-styles.scss";
@import "style-for-fonts.scss";

.nav {
    background: #FFD241;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    .burger {
        width: 30px;
        display: table;
        padding-right: 23px;
        cursor: pointer;
        &__items {
            background: #000000;
            margin-bottom: 4px;
            width: 30px;
            height: 5px;
        }
        &__items:last-child {
            margin-bottom: 0;
        }
    }
}
.container {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 0 8px;
    .title {
        text-align: center;
        &__text {
            font-family: "MuseoSansCyrl_3";
            text-transform: uppercase;
            margin: 46px 0;
            font-size: 36px;
            line-height: 43px;
            color: #000000;
        }
    }
    .catalog-flex {
        display: flex;
        flex-wrap: wrap;
        .catalog:nth-child(1), .catalog:nth-child(3)  {
            margin-right: 2.8%;
        }
        .catalog {
            width: 48.6%;
            max-width: 380px;
            .product {
                &__img {
                    width: 100%;
                    height: 218px;
                    object-fit: cover;
                }
                &__price {
                    font-family: "MuseoSansCyrl_3";
                    background-color: #ffd141;
                    margin-top: 176px;
                    width: 160px;
                    text-align: center;
                    z-index: 1;
                    position: absolute;
                    padding: 14px 0;
                    color: #000;
                }
            }
            .product-box {
                &__country {
                    font-family: "MuseoSansCyrl_3";
                    text-transform: uppercase;
                    font-size: 9px;
                    margin-top: 10px;
                    color: #C5B223;
                }
                &__title {
                    font-family: "MuseoSansCyrl_3";
                    font-size: 18px;
                    margin-top: 7px;
                    color: #000000;
                }
                &__info {
                    font-family: "MuseoSansCyrl_1";
                    width: 100%;
                    max-width: 350px;
                    line-height: 13px;
                    font-size: 9px;
                    margin-top: 20px;
                    color: #8C8C8C;
                }
                .block-info {
                    &__date {
                        font-family: "MuseoSansCyrl_2";
                        font-size: 9px;
                        margin-top: 15px;
                        color: #000000;
                    }
                    &__date:nth-child(2) {
                        margin-top: 2px;
                    }
                }
                .flight {
                    background: #CB0037;
                    border-radius: 3px;
                    margin: 12px 0 56px 0;
                    width: 130px;
                    height: 17px;
                    &__text {
                        font-family: "MuseoSansCyrl_1";
                        text-align: center;
                        font-size: 9px;
                        padding: 4px 0;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .about-us {
        margin-top: 35px;
        display: table;
        &__text {
            font-family: "MuseoSansCyrl_1";
            text-transform: uppercase;
            font-size: 10px;
            color: #000000;
        }
        &__underline {
            height: 2px;
            margin-top: 5px;
            background: #000000;
        }
    }
    .set:nth-child(1)  {
        margin-top: 50px;
    }
    .set {
        .contant-center {
            display: flex;
            margin-top: 31px;
            .input-info:nth-child(2), .input-info:nth-child(4) {
                margin-right: 0;
            }
            .input-info {
                width: 50%;
                margin-right: 20px;
                &__name {
                    text-transform: uppercase;
                    font-family: "MuseoSansCyrl_1";
                    font-size: 10px;
                    line-height: 12px;
                    margin-bottom: 8px;
                    color: #000000;
                }
                &__inp:focus {
                    border: 1px solid #FFD241;
                }
                &__inp {
                    background: #FFFFFF;
                    font-family: "MuseoSansCyrl";
                    font-size: 10px;
                    padding-left: 19px;
                    color: #8C8C8C;
                    width: 100%;
                    height: 50px;
                    border: 1px solid #E7E7E7;
                    border-radius: 3px;
                }
                &__country {
                    font-family: "MuseoSansCyrl";
                    font-size: 10px;
                    margin-top: 9px;
                    display: block;
                    color: #CB0037;
                }
                .red-star {
                    color: #CB0037;
                    margin-left: 3px;
                }
            }
        }
    }
    .about-communication {
        display: flex;
        &__items:nth-child(1) {
            width: 53%;
        }
        &__items:nth-child(2) {
            width: 50%;
        }
        .about {
            margin-top: 15px;
            display: table;
            &__text {
                font-family: "MuseoSansCyrl_1";
                text-transform: uppercase;
                font-size: 10px;
                color: #000000;
            }
            &__underline {
                height: 2px;
                margin-top: 5px;
                background: #000000;
            }
        }
        .choice {
            margin-top: 31px;
            .social-network:nth-child(4) {
                margin-right: 0;
            }
            .social-network {
                display: inline-block;
                margin-right: 30px;
                cursor: pointer;
                &:hover .social-network__choose{
                    background: #F0F0F0;
                }
                &__text {
                    text-align: center;
                    margin-bottom: 9px;
                    font-family: "MuseoSansCyrl_1";
                    text-transform: uppercase;
                    line-height: 12px;
                    font-size: 10px;
                    color: #000000;
                }
                &__choose {
                    background: #FFFFFF;
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin: 0 auto;
                    border: 1px solid #E7E7E7;
                    border-radius: 3px;
                    .check-mark {
                        background: url("../images/choice/Vector.svg") no-repeat center;
                        display: none;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .inquiries {
        .confirm {
            display: -webkit-box;
            display: -ms-flexbox;
            margin-top: 39px;
            cursor: pointer;
            &:hover .confirm__agreement {
                background: #F0F0F0;
            }
            &__agreement {
                width: 15px;
                height: 15px;
                background: #FFFFFF;
                border: 1px solid #E7E7E7;
                border-radius: 3px;
                .check-mark {
                    background: url("../images/choice/Vector.svg") no-repeat center;
                    background-size: 90%;
                    display: none;
                    width: 100%;
                    height: 100%;
                }
            }
            .confirm-info {
                margin-left: 15px;
                &__title {
                    font-family: "MuseoSansCyrl_1";
                    margin-bottom: 11px;
                    font-size: 10px;
                    color: #000000;
                    .red-star {
                        color: #CB0037;
                        margin-left: 3px;
                    }
                }
                &__text {
                    font-family: "MuseoSansCyrl";
                    padding-right: 15px;
                    font-size: 10px;
                    color: #C1C1C1;
                }
            }
        }
        .fields {
            &__text {
                font-family: "MuseoSansCyrl";
                padding-right: 15px;
                margin: 33px 0 0 30px;
                font-size: 10px;
                color: #C1C1C1;
            }
            .red-stars {
                color: #CB0037;
                margin-right: 3px;
            }
        }
    }
    .sending {
        background: #FFD241;
        border-radius: 29.5px;
        cursor: pointer;
        width: 280px;
        height: 49px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        margin: 40px 0 108px 0;
        font-family: "MuseoSansCyrl_1";
        text-transform: uppercase;
        font-size: 12px;
        color: #000000;
    }
}
.menu {
    position: absolute;
    width: 50%;
    z-index: 50;
    height: 100vh;
    background: #FFD241;
    display: flex;
    justify-content: center;
    .info-tab {
        margin-top: 101px;
        .view-menu {
            margin-bottom: 68px;
            .contant-review {
                display: flex;
                .main-menu:last-child {
                    width: 120px;
                }
                .main-menu {
                    width: 150px;
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    background: white;
                    margin-right: 10px;
                    height: 49px;
                    border-radius: 29.5px;
                    &__country, &__date{
                        font-family: "MuseoSansCyrl_1";
                        font-size: 12px;
                        line-height: 14px;
                        color: #000000;
                        padding-left: 30px;
                        padding-right: 40px;
                    }
                    &__date {
                        padding-right: 30px;
                    }
                    &__shift {
                        width: 5px;
                        height: 5px;
                        margin-left: 8px;
                        border-left: 1px solid rgb(24, 22, 22);
                        border-top: 1px solid rgb(24, 22, 22);
                        transform: rotate(-135deg);
                        transition: transform .5s ease;
                    }
                }
            }
            .travels {
                display: flex;
                cursor: pointer;
                align-items: center;
                background: white;
                height: 49px;
                width: 280px;
                border-radius: 29.5px;
                margin-top: 18px;
                &__shift {
                    width: 5px;
                    height: 5px;
                    margin-left: 8px;
                    border-left: 1px solid rgb(24, 22, 22);
                    border-top: 1px solid rgb(24, 22, 22);
                    transform: rotate(-135deg);
                    transition: transform .5s ease;
                }
                &__text {
                    font-family: "MuseoSansCyrl_1";
                    font-size: 12px;
                    line-height: 14px;
                    color: #000000;
                    padding-left: 30px;
                    padding-right: 122px;
                }
            }
        }
        .contact {
            bottom: 55px;
            position: absolute;
            &__phone {
                font-family: "MuseoSansCyrl_3";
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #141414;
                margin-bottom: 24px;
            }
            .pick-up {
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 29.5px;
                cursor: pointer;
                width: 280px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 49px;
                &__text {
                    font-family: "MuseoSansCyrl_1";
                    text-transform: uppercase;
                    font-size: 12px;
                    color: #000000;
                }
            }
        }
    }
    .list-info {
        &__text {
            font-family: "MuseoSansCyrl_3";
            text-transform: uppercase;
            font-size: 18px;
            text-align: center;
            margin-bottom: 30px;
            color: #141414;
        }
    }
}

















@media (max-width: 780px) {
    .about-communication {
        &__items:nth-child(2) {
            width: 49% !important;
        }
    }
}
@media (max-width: 670px) {
    .about-communication {
        &__items:nth-child(2) {
            width: 48% !important;
        }
    }
}
@media (max-width: 615px) {
    .about-communication {
        &__items:nth-child(2) {
            width: 49% !important;
        }
        &__items {
            .choice {
                margin-top: 31px;
                width: 55%;
                .social-network:nth-child(3) {
                    margin-top: 15px;
                    margin-right: 32px;
                }
                .social-network:nth-child(4) {
                    margin-top: 15px;
                }
            }
        }
    }
}
@media (max-width: 580px) {
    .about-communication {
        &__items:nth-child(2) {
            width: 48% !important;
        }
    }
    .about-communication__items .choice {
        width: 75% !important;
    }
}
@media (max-width: 430px) {
    .container {
        padding: 0 18px;
        .about-communication {
            display: inherit;
            &__items {
                width: 100% !important;
                .choice:last-child {
                    margin-top: 27px;
                }
                .choice {
                    width: 100% !important;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    .social-network:nth-child(3), .social-network:nth-child(4) {
                        margin-top: 0;
                    }
                }
            }
            .about {
                margin-top: 38px !important;
            }
        }
        .catalog-flex .catalog  {
            width: 100%;
            max-width: none;
            margin-right: 0 !important;
            .product-box .flight {
                background: #CB0037;
                border-radius: 3px;
                margin: 12px 0 31px 0;
            }
        }
        .catalog:nth-child(1) {
            margin-right: 2.8%;
            border-top: 2px solid #C4C4C4;
            padding: 30px 0 0;
        }
        .catalog:nth-child(2) {
            margin-bottom: 26px;
        }
        .catalog:nth-child(3) {
            padding-bottom: 33px;
            margin-bottom: 16px;
            border-bottom: 2px solid #C4C4C4;
        }
        .catalog:nth-child(4) {
            display: none;
        }
        .title {
            text-align: inherit;
        }
        .title__text:first-child {
            margin: 46px 0 7px 0;
        }
        .title__text {
            margin: 14px 0 27px 0 !important;
        }
        .about-us {
            margin-top: 30px !important;
        }
        .contant-center {
            display: inherit !important;
            .input-info {
                width: 100% !important;
                .input-info__name {
                    margin: 20px 0 8px  0 !important;
                }
            }
        }
    }
}