@font-face {
    font-family: 'MuseoSansCyrl';
    src: url("../fonts/MuseoSansCyrl.otf");
}
@font-face {
    font-family: 'MuseoSansCyrl_3';
    src: url('../fonts/MuseoSansCyrl_3.otf');
}
@font-face {
    font-family: 'MuseoSansCyrl_2';
    src: url('../fonts/MuseoSansCyrl_2.otf');
}
@font-face {
    font-family: 'MuseoSansCyrl_1';
    src: url('../fonts/MuseoSansCyrl_1.otf');
}
@font-face {
    font-family: 'MuseoSansCyrl_0';
    src: url('../fonts/MuseoSansCyrl_0.otf');
}